 @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Addisons Bike Shop Website!</h1>
    <p>Currently, the site is under construction as I learn ASP.NET Core MVC. Speaking of, checkout this link:
        <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </p>
</div>
